.swiper {
  width: 300px;
  height: 360px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(238, 140, 140, 0.8);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(135, 200, 254, 0.8);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(58, 246, 167, 0.8);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(236, 160, 236, 0.8);
}

.swiper-slide:nth-child(5n) {
   background-color: rgba(64, 114, 251, 0.8);
}

.swiper-slide:nth-child(6n) {
  background-color: rgba(70, 199, 38, 0.8);
}
